{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">
<div class="col col-md-6">
<div class="card">
    <h5 class="card-header">{{ object_name|capfirst }} Details</h5>
    <div class="card-body">
        <table class="table table-hover attr-table">
            {% for field in field_data %}
                <tr>
                    <th scope="row">{{ field.name|capfirst }}</th>
                    <td>
                        {% if field.url %}
                            <a href="{{ field.url }}">{{ field.value }}</a>
                        {% else %}
                            {{ field.value|capfirst }}
                        {% endif %}
                    </td>
                </tr> 
            {% endfor %}
        </table>
    </div>
</div>
</div>
<div class="col col-md-4">
{% for related_table in related_tables %}
    <div class="card mt-3">
        <h5 class="card-header">{{ related_table.name|capfirst }}</h5>
        <div class="card-body">
                {% render_table related_table.table %}
        </div>
    </div>
{% endfor %}

{% include 'inc/panels/tags.html' %}
{% include 'inc/panels/comments.html' %}
</div>
</div>
{% endblock %}
