{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% block content %}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-details" data-toggle="tab">Details</a></li>
        <li><a href="#tab-diagram" data-toggle="tab">Diagram</a></li>
        
        {% for related_table in related_tables %}
            <li><a href="#tab-{{ related_table.name|slugify }}" data-toggle="tab">{{ related_table.name|title }}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-details">
            <div class="card">
                <h5 class="card-header">{{ object_name }} Details</h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        {% for field in field_data %}
                            <tr>
                                <th scope="row">{{ field.name|capfirst }}</th>
                                <td>
                                    {% if field.url %}
                                        <a href="{{ field.url }}">{{ field.value }}</a>
                                    {% else %}
                                        {{ field.value }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab-diagram">
            <div class="card mt-3">
                <h5 class="card-header">Relationship Diagram</h5>
                <div class="card-body">
                    <div class="mermaid">
                        {{ mermaid_diagram }}
                    </div>
                </div>
            </div>
        </div>

        {% for related_table in related_tables %}
            <div class="tab-pane" id="tab-{{ related_table.name|slugify }}">
                <div class="card mt-3">
                    <h5 class="card-header d-flex justify-content-between align-items-center">
                        <span>{{ related_table.name|title }}</span>
                        {% if related_table.add_url %}
                            <a href="{{ related_table.add_url }}" class="btn btn-sm btn-primary">
                                <i class="mdi mdi-plus"></i> Add
                            </a>
                        {% endif %}
                    </h5>
                    <div class="card-body">
                        {% if related_table.table %}
                            {% render_table related_table.table %}
                        {% else %}
                            <ul>
                                {% for obj in related_table.objects %}
                                    <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
