{% extends 'generic/object_detail.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<h2>Solution: {{ object.name }}</h2>

<div class="card">
    <h5 class="card-header">Service Templates</h5>
    <div class="card-body">
        {% render_table service_templates_table %}
    </div>
</div>

<div class="card mt-3">
    <h5 class="card-header">Services Using These Templates</h5>
    <div class="card-body">
        {% render_table services_table %}
    </div>
</div>

{% endblock %}