
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">

        <h5 class="card-header">Solution Information</h5>

        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{{ table.name|capfirst }}</h5>
        <table class="table table-hover attr-table">
            <tbody>
                {% for obj in table.objects %}
                    <tr>
                        <td>
                            {% if obj.get_absolute_url %}
                                <!-- If the related object has a URL, link it -->
                                <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
                            {% else %}
                                <!-- Otherwise, just display the object name or field -->
                                {{ obj }}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No related objects found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}

