{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <h5 class="card-header">Solution Details</h5>
    <div class="card-body">
        <table class="table table-hover attr-table">
            {% for field in object._meta.get_fields %}
                {% if not field.is_relation %}  <!-- Exclude related fields if not needed -->
                    <tr>
                        <th scope="row">{{ field.verbose_name|capfirst }}</th>
                        <td>{{ object|getattr:field.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
  </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  
<div class="col col-md-6">
  {% for table in related_tables %}
  <div class="card">
      <h5 class="card-header">{{ table.name|capfirst }}</h5>
      <table class="table table-hover attr-table">
          <tbody>
           {% render_table table.objects %}
          </tbody>
      </table>
  </div>
  {% endfor %}
  {% include 'inc/panels/tags.html' %}
  {% include 'inc/panels/comments.html' %}
</div>
</div>
{% endblock content %}